<!DOCTYPE html>
<html lang="en">
    
    <head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecoMovie</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >

    {% include 'recommend/nav.html' %}
    {% comment %}  --------------------------sidebar--------------------- - {% endcomment %}
    {% comment %}  --------------------main---------------- --> {% endcomment %}

    <div class="content">
{% comment %} <!-- ------------------------ video------------------------ --> {% endcomment %}
<div id="result">
    
</div>
<!-- <script src="{%static 'script.js' %}"></script> -->
        <div class="list_content">
            {%for i in moviedisp %}
            
            <!-- <div  onclick="getPoster()" class="vid_list" id="term" value= {{i}}   > -->
            <div   class="vid_list" id="term" value= {{i}}   >
<!-- <div id="poster"></div> -->
                <!-- <span id="poster"></span> -->
                    <img  src="static/images/thumbnail1.png" alt="" class="thumbnail">
                <!-- </a>    
                                          -->
               
                <div class="flex-div">
                    <img src="static/images/Jack.png" alt="">
                    <div class="vid-info">
                    <strong>{{ i }}</strong>
                        <p>190 mins</p>
                        <p>&bull;  20-05-22</p>
                        <p>4/10 &#11088;  </p>
                    </div>
                    <div id="like-watchlist">
                        <!-- <button id="like" onclick="liked()" style="margin-bottom: 10px; margin-left: 120px;flex-wrap: wrap;">   Like</button><br> -->
                        <form action="likedlist" method="POST">
                            {% csrf_token %}
                            <button name="likedid" id="like" value="{{ i }}">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="icon">Like</span>
                            </button>
                        </form>
                        <form action="watchlist" method="POST">
                            {% csrf_token %}
                      
                        <button name="watchid" value="{{ i }}">   Save  </button>
                    </form>
                        <form action="watchedlist" method="POST">
                            {% csrf_token %}
                      
                        <button name="watchedid" value="{{ i }}">   Watch  </button>
                    </form>
                        <!-- <a href=""><img  src="static/images/like.png" style=" width: 25px; border-radius: 50%;margin-left: 120px;flex-wrap: wrap;"  alt=""></a>
                        <br>
                        <a href=""><img src="static/images/library.png" style=" width: 25px; border-radius: 50%;margin-left: 120px;flex-wrap: wrap;" alt=""></a> -->

                    </div>
                </div>
            </div>
            {%endfor %}
            
            
        </div>
    </div>



    <script src="{%static 'script.js' %}"></script>
</body>

</html>