<!DOCTYPE html>
<html lang="en">
    
    <head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecoMovie</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{%static 'script.js' %}"></script>

    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
    {% include 'recommend/nav.html' %}
  <div class="content">
{% comment %} <!-- ------------------------ video------------------------ --> {% endcomment %}
        <div class="list_content">
            
            {%if searched %}
                 {%for movie in movies%}
   
   

   
            
            {% include 'recommend/videolist.html' %}
            {%endfor %}
            {%endif%}
            
            
        </div>
    </div>



    <script src="{%static 'script.js' %}"></script>
</body>

</html>
   