 <div   class="vid_list" id="term" value= "{{movie.original_title}}"   >
                    <!-- <div id="poster"></div> -->
                <!-- <span id="poster"></span> -->
                    <img  src="static/images/thumbnail1.png" alt="" class="thumbnail">
                                    
               
                <div class="flex-div">
                    <div class="vid-info">
                    <strong>{{ movie.original_title }}</strong>
                    <p>{{movie.genres}}</p>
                        <p>{{movie.duration}} mins</p>
                        <br><br>
                        <p>{{movie.vote_average}}/10 &#11088;  </p>
                    </div>
                    <div id="like-watchlist" style=" margin-left: 10px;">
                        {%if movie not in likedmovies%}
                        <form action="likedlist" method="POST">
                            {% csrf_token %}
                            <button name="likedid" id="like" value="{{ movie.id}}">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="icon">Like</span>
                            </button>
                        </form>
                        {%else%}
                        <button  id="like" style="color:blue" >
                            <i class="fa fa-thumbs-up"></i>
                            <span class="icon">Liked</span>
                        </button>
                        {%endif%}
                        {%if movie not in savedmovies%}
                        <form action="watchlist" method="POST">
                            {% csrf_token %}
                            <button name="watchid" value="{{ movie.id }}">   Save  </button>
                        </form>
                        {%else%}
                        <button  style="color:blue" >
                            <span class="icon">Saved</span>
                        </button>
                        {%endif%}
                        {%if movie not in watchedmovies%}
                        <form action="watchedlist" method="POST">
                            {% csrf_token %}
                            
                            <button name="watchedid" value="{{ movie.id }}">   Watch  </button>
                        </form>
                        {%else%}
                        <button  style="color:blue" >
                            <span class="icon">Watched</span>
                        </button>
                        {%endif%}
                        
                    </div>
                </div>
            </div>
      